.parteSuperior{
    padding: 0 0 0 1150px;
}
.imgPequeña{
    width:30px;
    height:30px;
}

.imgRedonda {
    width:30px;
    height:30px;
    border-radius:150px;
}
.centro{
    margin-bottom: 50px;
}
.centrado{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.botonesCentrados{
    display: inline-block;
    
}
.inferior{
    text-align: center;
}